@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.logo {
   width: 11%;
   height: 100%;
   margin-left: 100px;
}

.navlink {
    color: rgb(31, 31, 97);
    background-color: rgb(204, 169, 221);
    font-size: 27px;
    font-family: 'Acme';
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.navlink:hover {
    color: rgb(255, 255, 255);
}

.taskbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(204, 169, 221);
    height: 130px;
    width: 100%;
    border-bottom: 2px solid;
    border-color: rgb(31, 31, 97);
}


h1 {
    font-family: 'Acme';
    font-size: 65px;
    margin-top: 120px;
    margin-left: 120px;
    color: rgb(31, 31, 97);
}

.mainproduct {
    width: 100%;
}

.price {
    font-size: 60px;
    font-family: 'Segoe UI';
    margin-top: 0px;
    font-weight: bold;
}

.weight {
    font-size: 20px;
    font-family: Arial;
    color: rgb(131, 131, 131);
}

.desc {
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(131, 131, 131);
    line-height: 25px;
    margin-bottom: 40px;
}

.order {
    font-family: 'Acme';
    font-size: 30px;
    text-decoration: none;
    color: rgb(31, 31, 97);
    background-color: rgb(244,227,115);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 140px;
    padding-right: 140px;
    border-radius: 10px;
    margin-top: 50px;
    
}

.order:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 97);
}

.descbox {
    max-width: 500px;
}

.productimage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin-bottom: 100px;
}

hr {
    background-color: rgb(31, 31, 97);
    height: 1px;
}

.bewaren {
    background-color: rgb(204, 169, 221);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 10px;
}

.bewaren2 {
    font-size: 20px;
    font-family: Arial;
    font-stretch: expanded;
    padding-right: 50px;
}

.ingredients {
    padding-left: 50px;
    margin-top: 75px;
    margin-right: 500px;
}

.ingredients2 {
    font-size: 20px;
    font-family: Arial;
    line-height: 30px;
    color: rgb(131, 131, 131);
}

h2 {
    font-size: 30px;
    font-family: Arial;
    color: rgb(31, 31, 97);
}

.longdesc {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

h3 {
    font-size: 60px;
    font-family: 'Acme';
    text-align: center;
    color: rgb(31, 31, 97);
}

.related {
    background-color: rgb(244,227,115);
    padding-top: 50px;
    flex-direction: column;
}

.relatedimages {
    display: flex;
    justify-content: space-evenly;
}

.relatedimage1 {
    width: 10%;
    height: 10%;
    margin-bottom: 30px;
    margin-left: 120px;
}

.relatedimage2 {
    width: 10%;
    height: 10%;
    margin-bottom: 30px;
    margin-left: 60px;
}

.relatedimage3 {
    width: 22%;
    height: 20%;
    margin-bottom: 30px;
}

.relatedtitles {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 200px;
}

.relatedtitle {
    font-size: 23px;
    font-weight: bold;
    font-family: Arial;
    color: rgb(31, 31, 97);
    margin-right: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.relateddesc {
    display: flex;
    margin-left: 200px;
    justify-content: space-evenly;
}

.relateddesc1 {
    font-size: 18px;
    font-family: Arial;
    color: rgb(131, 131, 131);
    margin-bottom: 100px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding-left: 250px;
    padding-right: 250px;
    background-color: rgb(204, 169, 221);
}

.footertext {
    font-size: 18px;
    font-family: Arial;
    color: rgb(31, 31, 97);
    padding: 30px;
    text-decoration: none;
}

.footertext:hover {
    color: rgb(255, 255, 255);
}